body{
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
   background-image: url(./snake-bild2.jpeg);
   background-color: greenyellow;
}
canvas{
    box-shadow: black 20px 10px 50px;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: larger;
}